<div >
<img src = "../../banner.jpg" />
</div>

# Linear Regression for Prediction

Model 

$$
y= f(X) + u
$$

$$
y= X\beta + u
$$

Outcome to be predicted: $Y_i$

> *example:* a worker's log wage

Characteristics (aka **features**): $X_i=\left(X_{1i},\ldots,X_{pi}\right)'$

> *example:* education, age, state of birth, parents' education, cognitive ability, family background

In [1]:
#Load Packages
require("pacman")
p_load("tidyverse","stargazer")

Loading required package: pacman

In [2]:
nlsy = read_csv('https://raw.githubusercontent.com/ignaciomsarmiento/datasets/main/nlsy97.csv')

nlsy = nlsy  %>%   drop_na(educ) #dropea los valores faltantes (NA)

Rows: 1266 Columns: 994
── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
dbl (994): lnw_2016, educ, black, hispanic, other, exp, afqt, mom_educ, dad_...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
head(nlsy)

  lnw_2016 educ black hispanic other exp afqt   mom_educ dad_educ yhea_100_1997
1 4.076898 16   0     0        0     11  7.0724 12       12       3
2 3.294138  9   0     0        0     19  4.7481  9       10       2
3 2.830896  9   0     1        0     22  1.1987 12        9       3
4 4.306459 16   0     0        0     13  8.9321 16       18       2
5 5.991465 16   0     1        0     15  2.2618 16       16       1
6 4.711924 16   0     0        0     14  8.9502 18       20       1
  ⋯ _XPexp_13 _XPexp_14 _XPexp_16 _XPexp_17 _XPexp_18 _XPexp_19 _XPexp_20
1 ⋯ 0         0         0         0         0         0         0
2 ⋯ 0         0         0         0         0         1         0
3 ⋯ 0         0         0         0         0         0         0
4 ⋯ 1         0         0         0         0         0         0
5 ⋯ 0         0         0         0         0         0         0
6 ⋯ 0         1         0         0         0         0         0
  _XPexp_21 _XPexp_22 _XPexp_23
1 0         0         0
2 0         0         0
3 0         1         0
4 0         0         0
5 0         0         0
6 0         0         0

In [4]:
#Polinomios de educacion

nlsy <- nlsy  %>% mutate(educ2=educ^2,
                         educ3=educ^3,
                         educ4=educ^4,
                         educ5=educ^5,
                         educ6=educ^6,
                         educ7=educ^7,
                         educ8=educ^8,
                         educ9=educ^9,
                         educ10=educ^10
                        )

In [6]:
head(nlsy)

  lnw_2016 educ black hispanic other exp afqt   mom_educ dad_educ yhea_100_1997
1 4.076898 16   0     0        0     11  7.0724 12       12       3
2 3.294138  9   0     0        0     19  4.7481  9       10       2
3 2.830896  9   0     1        0     22  1.1987 12        9       3
4 4.306459 16   0     0        0     13  8.9321 16       18       2
5 5.991465 16   0     1        0     15  2.2618 16       16       1
6 4.711924 16   0     0        0     14  8.9502 18       20       1
  ⋯ _XPexp_23 educ2 educ3 educ4 educ5   educ6    educ7     educ8
1 ⋯ 0         256   4096  65536 1048576 16777216 268435456 4294967296
2 ⋯ 0          81    729   6561   59049   531441   4782969   43046721
3 ⋯ 0          81    729   6561   59049   531441   4782969   43046721
4 ⋯ 0         256   4096  65536 1048576 16777216 268435456 4294967296
5 ⋯ 0         256   4096  65536 1048576 16777216 268435456 4294967296
6 ⋯ 0         256   4096  65536 1048576 16777216 268435456 4294967296
  educ9       educ10
1 68719476736 1.099512e+12
2   387420489 3.486784e+09
3   387420489 3.486784e+09
4 68719476736 1.099512e+12
5 68719476736 1.099512e+12
6 68719476736 1.099512e+12

In [ ]:
reg<- lm(lnw_2016~educ+ educ2 + educ3 + educ4 + educ5 + educ6 + educ7 + 
    educ8 + educ9 + educ10,   data = nlsy)
#reg <- lm(lnw_2016 ~ educ +I(educ^2)  +I(educ^3)  +I(educ^4)  +I(educ^5)  +I(educ^6)  +I(educ^7) 
#  +I(educ^8)  +I(educ^9)  +I(educ^10),   data = nlsy)
summary(reg)

In [ ]:
stargazer(reg,type="text")

In [ ]:
nlsy$yhat= predict(reg)

In [ ]:
# plot predicted values
summ = nlsy %>%  
  group_by(
    educ, educ2, educ3, educ4, educ5, 
    educ6, educ7, educ8, educ9, educ10
  ) %>%  
  summarize(
    mean_y = mean(lnw_2016),
    yhat_reg = mean(yhat), .groups="drop"
  ) 
ggplot(summ) + 
  geom_point(
    aes(x = educ, y = mean_y),
    color = "blue", size = 2
  ) + 
  geom_line(
    aes(x = educ, y = yhat_reg), 
    color = "green", size = 1.5
  ) + 
  labs(
    title = "ln Wages by Education in the NLSY",
    x = "Years of Schooling",
    y = "ln Wages"
  ) +
  theme_bw()

As we can see, least squares linear regression can approximate any continuous function and can certainly be used for prediction. Include a rich enough set of transformations, and OLS predictions will yield unbiased estimates of the true ideal predictor, the conditional expectation function. But these estimates will be quite noisy.

# Example 2


Two Models
 
 (1) $y=\beta_1 X_1 + u_1 $
 
 (2) $y=\beta_1 X_1 + \beta_2 X_2 + u_2$

 If model (1) is true then estimating the larger model (2) leads to inefficient though unbiased estimators due to unnecessarily including $X_2$.

If model (2) holds, estimating the smaller model (1) leads to a more efficient but biased estimate if $X_1$ is also correlated with the omitted regressor $X_2$.

## Case 1

Let's show this: Suppose Model (1) is True, i.e. wage depends only on schooling but not ability

In [ ]:
p_load("fabricatr")

#for reproducibility
set.seed(101010)


db1 <- fabricate(
  N = 100000,
  ability=rnorm(N,mean=.5,sd=2),
  schooling = round(runif(N, 2, 14)),
  logwage =rnorm(N, mean=7+.15*schooling, sd=20)
)

In [ ]:
reg1<-lm(logwage~schooling,db1)

reg2<-lm(logwage~schooling+ability,db1)

stargazer(reg1,reg2,type="text")

In [ ]:
db1<- db1 %>% mutate(yhat_reg1=predict(reg1),
                     yhat_reg2=predict(reg2))

In [ ]:
var(db1$yhat_reg1)

In [ ]:
var(db1$yhat_reg2)

Estimating the larger model (2) leads to inefficient though unbiased estimators due to unnecessarily including $X_2$.

## Case 2

Now suppose Model (2) is True, i.e. wage depends on schooling AND ability, and they are correlated

In [ ]:
db2 <- fabricate(
  N = 100000,
  ability=rnorm(N,mean=.5,sd=2),
  schooling = round(runif(N, 2, 14)),
  schooling = round(ceiling(schooling+1*ability)),
  logwage =rnorm(N, mean=7+.15*schooling+.25*ability, sd=20)
)

In [ ]:
reg3<-lm(logwage~schooling,db2)

reg4<-lm(logwage~schooling+ability,db2)

stargazer(reg3,reg4,type="text")

In [ ]:
db2$yhat_reg3<-predict(reg3)

db2$yhat_reg4<-predict(reg4)

In [ ]:
var(db2$yhat_reg3)

In [ ]:
var(db2$yhat_reg4)

Estimating the smaller model (1) leads to a more efficient but biased estimate when $X_1$ is also correlated with the omitted regressor $X_2$.